In [1]:
import pandas as pd
import numpy as np

In [2]:
power = pd.read_csv("/home/slimbook/git-repos/eolo-project/data/.raw/BH1_BestGuess.dsv", sep=";", header = 0)

In [3]:
power.tail() # set_index()

               FECHAUTC  PROD_FETEN
35059  31/12/2017 20:00       29650
35060  31/12/2017 21:00       27760
35061  31/12/2017 22:00       18270
35062  31/12/2017 23:00       12080
35063  01/01/2018 00:00       16270

In [4]:
df = pd.to_datetime(power['FECHAUTC'], format='%d/%m/%Y %H:%M', utc=True)

In [5]:
df = power.set_index('FECHAUTC')
df.head()

                  PROD_FETEN
FECHAUTC
01/01/2014 01:00      112467
01/01/2014 02:00       84612
01/01/2014 03:00       54776
01/01/2014 04:00       20260
01/01/2014 05:00        3600

In [6]:
df.index.name = "date"

In [7]:
df["Production"]=df.PROD_FETEN

In [8]:
df.drop("PROD_FETEN", axis = 1, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35064 entries, 01/01/2014 01:00 to 01/01/2018 00:00
Data columns (total 1 columns):
Production    35064 non-null int64
dtypes: int64(1)
memory usage: 547.9+ KB

In [10]:
df = df[(df['Production'] >= 0)]

In [11]:
df.head()

                  Production
date
01/01/2014 01:00      112467
01/01/2014 02:00       84612
01/01/2014 03:00       54776
01/01/2014 04:00       20260
01/01/2014 05:00        3600

In [13]:
df.to_csv("../data/processed/power_data.csv")